*{
	color: white;
	background:url("https://windows-phone.megazio.com/wp-content/uploads/2021/11/Apa-Itu-Diamond-Free-Fire.jpg");
}
.script{
	background: black;
	font-size:10;
	font-family:;Sans-serif;
}
#btn{
	font-size:400px;
	position: relative;
	top:50;
}
