* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(52, 54, 54);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.container {
    height: 500px;
    width: 300px;
    background-color: rgb(52, 54, 54);
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(94, 92, 92, 0.3);

    border-radius: 20px;
    text-align: center;
    font-family: 'courier', cursive;
    color: white;
    font-weight: 600;
}

.container h1 {
    padding: 30px;
    color: white;
    font-family: 'courier', cursive;
    font-size: 30px;
}

#email {
    padding: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.3), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.4);
    background-color: #ffa502;
    color: rgb(54, 52, 26);
}
#pass {
    padding: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.3), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.4);
    background-color: #ffa502;
    color: rgb(54, 52, 26);
}

#email:focus {
    outline: none;
}
#pass:focus {
    outline: none;
}

#email::placeholder {
    color: rgb(33, 44, 48);
}

#pass::placeholder {
    color: rgb(33, 44, 48);
}

.or {
    padding: 20px;
}

.signup {
    margin-bottom: 15px;
}

.icons {
    margin-left: 8px;
}

.icons i {
    margin-right: 10px;
    font-size: larger;
    transition: 0.3s;
}

.icons i:hover {
    color: rgb(218, 183, 109);
}

.btn {
    padding: 10px 30px;
    margin-top: 10px;
    background-color: #ffa502;
    box-shadow: 0px 2px 10px rgb(19, 18, 18);

    border: none;
    border-radius: 20px;
}

.btn a {
    text-decoration: none;
    color: rgb(46, 42, 42);
    font-weight: 600;
}

p a {
    text-decoration: none;
    color: #ffa502;
}